---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---

<!--Personal infos-->
<article>
    <h2>About Me</h2>
    <div>
        <p>I work on Gecko, the Browser Engine of Firefox as part of the DOM Core
            team.</p>
        <p>I'm based in Germany and desire to work on what powers modern digital
            infrastructure, like the web platform. I have a passion for working
            on challenging issues, doing things theoretically founded and finding
            beautiful and elegant solutions.</p>
        <p>Apart from that, I go running, biking, like to cook and bake, play
            some video and board games and like to create new things.</p>
        <p>This website is just a pet project, not a well-designed portfolio :)</p>
        <a href="/cv.html">CV</a>
        <a href={{ metadata.author.linkedin }}>LinkedIn</a>
        <a href={{ metadata.author.github }}>Github</a>
    </div>
</article>