---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---

<!--Personal infos-->
<article>
    <h2>About Me</h2>
    <div>
        <p>I'm a Computer Science Student based in Germany, NRW. I'm interested in the web, computer vision and deep learning. Although I despise training and experimenting with models, I enjoy solving problems and developing software. I have most experience with C++, Python and JavaScript. My studies focus on computer vision and computer science theory.</p>
        <p>This website is just a pet project, not a well-designed portfolio :)</p>
        <a href="/cv.html">CV</a>
        <a href={{ metadata.author.linkedin }}>LinkedIn</a>
        <a href={{ metadata.author.github }}>Github</a>
    </div>
</article>